
PORT=3000
DB_NAME=elplac
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=sarasa
EMAIL=elplacarddemibebot@gmail.com
EMAIL_PASSWORD=tbdi ndav dkve ogug
EMAIL_HOST=smtp.gmail.com
EMAIL_ADMIN=elplacarddemibebot@gmail.com
CLOUDINARY_NAME=sarasa
CLOUDINARY_KEY=sarasa
CLOUDINARY_SECRET=sarasa
URL=sarasa
FRONTEND_URL=sarasa
GOOGLE_CLIENT_SECRET=sarasa
GOOGLE_CALLBACK_URL=sarasa
GOOGLE_CLIENT_ID=sarasa
MERCADOPAGO_PUBLIC_KEY=sarasa
MERCADOPAGO_ACCESS_TOKEN=sarasa
